<template>
    <div>
        <h1>Hello</h1>
        <router-link :to="{name: 'MainPage'}">Main</router-link>
        <b-container>
            <b-row>
                <b-col cols="4">
                    <product-form :products="products" @wantToCreateProduct="createProduct"/>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row>
                <b-col cols="8" class="mx-auto">
                    <input type="text"
                           class="form-control w-25 mb-2"
                           placeholder="search"
                           v-model="search_term"
                    >
                    <product-table :products="filteredProducts"/>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import ProductForm from "./includes/ProductForm";
import ProductTable from "./includes/ProductTable";
export default {
    name: 'HelloWorld',
    components: { ProductForm , ProductTable },
    data() {
        return {
            my_var: 15,
            search_term: '',
            products: [
                {
                    id: 5,
                    name: 'PR 1',
                    description: 'Some description',
                    price: 15
                },
                {
                    id:6,
                    name: 'PR 2',
                    description: 'Some description',
                    price: 15
                },
                {
                    id: 8,
                    name: 'PR 3',
                    description: 'Some description',
                    price: 20
                }
            ],
        }
    },
    watch: {
        'item_data.description': function (new_value, old_value) {
            console.log('new', new_value);
        },
        my_var(new_v, old_v) {
            console.log('old', old_v);
        },
        item_data: {
            handler(new_val) {
                console.log(new_val);
            },
            deep: true
        }
    },
    mounted() {
        this.axios.get('/user').then(res => {
            console.log(res);
        }).catch(err => {
            console.log(err.response)
        })
    },
    methods: {
        // testPromise(){
        //     return new Promise((resolve,reject) => {
        //         let success = true;
        //         setTimeout (() => {
        //             if(success){
        //                 resolve(1)
        //             }else {
        //                 reject('error')
        //             }
        //         }, 1000)
        //     })
        // },
        removeProduct(id) {
            console.log('parent function')
            this.products = this.products.filter(item => item.id !== id)
        },
        createProduct(product) {
            this.products.push(product)
        }
    },
    computed: {
        filteredProducts() {
            return this.products.filter(product => {
                return product.name.toLowerCase().includes(this.search_term.toLowerCase()) ||
                    product.description.toLowerCase().includes(this.search_term.toLowerCase());
            })
        }
    }
}
</script>

<style scoped>

</style>
