<template>
  <div >
   <h1>Main</h1>
   <child-component/>
    <square width="100px" height="100px" :bg-color="rand_color"/>
    <square width="100px" height="100px" :bg-color="rand_color"/>
    <square width="100px" height="100px" :bg-color="rand_color"/>
    <Time/>
  </div>
</template>

<script>
import ChildComponent from "./test/ChildComponent"
import Square from "./test/SquareComponent"
import Time from '@/components/includes/Time'

export default {
    components:{ChildComponent, Time},
    data(){
        return {
            rand_color:'rgb(55,191,173)'
        }
    },
    mounted() {
        setInterval(() => {
            this.changeColor()
        }, 200);
    },
    methods: {
        changeColor(){
            let r = Math.floor(Math.random()*255);
            let g = Math.floor(Math.random()*255);
            let z = Math.floor(Math.random()*255);
            this.rand_color =`rgb(${r},${g},${z})`
        }
    },

}
</script>

<style scoped>


</style>
