<template>
    <div>
      <b-form>
            <b-form-input
                    type="number"
                    placeholder="number"
                    v-model="number"
            ></b-form-input>

        </b-form>
        <div class="d-flex">
            <div v-for="(n, index) in +this.number" :key="index">
                <div :style="{width: width, height: height, backgroundColor: bgColor}" @click="sumbit">
                        {{n}}
                </div>
                    <div id="square_2">
                        {{n}}
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            width:{type: String, default: '200px'},
            height:{type: String, default: '200px'},
            bgColor:{type: String, default: 'red'},
            border:{type:String, default: 'green'}
        },
            data() {
        return {
            number: 1
        }
        },
        methods: {
          sumbit() {
                console.log(4564)
            }
        }
    }
</script>

<style lang="scss" scoped>


</style>
