<template>
    <div >

    <h2>{{hours}}:{{minutes}}:{{second}}</h2>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                date:new Date()
            }
        },
        mounted(){
            setInterval(() => {
                this.date = new Date()
            }, 1000)

        },
        computed: {
            second(){
                let second = this.date.getSeconds();
                return second < 10 ? '0' + second:second
            },
            minutes(){
                let minutes = this.date.getMinutes();
                return minutes < 10 ? '0' + minutes:minutes
            },
            hours(){
                let hours = this.date.getHours();
                return hours < 10 ? '0' + hours:hours
            }

        }

    }
</script>

<style lang="scss" scoped>

</style>
