<template>
    <div>
        <div class='container'>
            <h2>Sign up</h2>
            <b-form @submit.prevent="login" @reset="onReset" v-if="show">
                <b-form-group id="input-group-1" label="Email:" label-for="input-1">
                    <b-form-input
                        id="input-1"
                        v-model="form.email"
                        type="email"
                        required
                        placeholder="Enter your Email"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="Your Password:" label-for="input-2">
                    <b-form-input
                        id="input-2"
                        v-model="form.password"
                        type='password'
                        required
                        placeholder="Enter your Password"
                    ></b-form-input>
                </b-form-group>
                <b-button type="submit" variant="primary" class='btn'>Войти</b-button>
                <router-link :to="{name:'Registr'}" class="btn btn-success ml-2">Регистрация</router-link>
            </b-form>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                form: {
                    email: 'test@mail.ru',
                    password: 'secret',
                },
                show: true
            }
        },
        methods: {
            onReset(evt) {
                evt.preventDefault()
                this.form.email = ''
                this.form.password = ''
                this.show = false
                this.$nextTick(() => {
                    this.show = true
                })
            },
            login(){
                this.$store.dispatch('login', this.form)
            }
        },
    }
</script>
<style scoped>
    .btn {
        float:right;
    }
    p {
        padding-top: 30px;
    }
</style>
