<template>
  <div >
     <h2 class="bg-red">Child </h2>
  </div>
</template>

<script>

export default {
  name: 'HelloWorld',

  data () {
    return {

    }
  }
}
</script>

<style scoped>
    .bg-red{
        background: red;
    }

</style>
