<template>
    <div>
        <guest-navigation/>
        <div class='container'>
            <h2 class="text-center"> Регистрация</h2>
            <b-form @submit.prevent="onSubmit" @reset="onReset" v-if="show">
                <b-form-group  label="Name:" label-for="input-2">
                    <b-form-input
                        id="input-2"
                        v-model="form.name"
                        required
                        placeholder="Enter name"
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Surname:" label-for="input-2">
                    <b-form-input
                        id="input-2"
                        v-model="form.surname"
                        required
                        placeholder="Enter Surname"
                    ></b-form-input>
                </b-form-group>
                <b-form-group  label="Email:" label-for="input-2">
                    <b-form-input
                        id="input-1"
                        v-model="form.email"
                        type="email"
                        required
                        placeholder="Enter email"
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Your Password:" label-for="input-2">
                    <b-form-input
                        id="input-2"
                        v-model="form.password"
                        required
                        placeholder="Enter you Password"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="Confirm your password:" label-for="input-2">
                    <b-form-input
                        id="input-2"
                        v-model="form.password_confirm"
                        required
                        placeholder="Confirm Password"
                    ></b-form-input>
                </b-form-group>
                <b-button type="submit" variant="primary" class='btn'>Sign up</b-button>
            </b-form>
            <router-link :to="{name: 'Login'}" class="btn btn-success ml-2">
                Already have an Account?
            </router-link>
        </div>
    </div>
</template>
    <script>
        export default {
            data() {
                return {
                    form: {},
                    show: true
                }
            },
            methods: {
                onSubmit() {
                   // for(let key in this.form){
                   //     if(!this.form.hasOwnProperty(key))continue;
                   //     if(!this.form[key] || !this.form[key].trim());
                   //     alert('sdfsdfs')
                   //     return
                    }
                },
                onReset(evt) {
                    evt.preventDefault()
                    this.form.name = ''
                    this.form.surname = ''
                    this.form.email = ''
                    this.form.password = ''
                    this.form.password_confirm = ''
                    this.show = false
                    this.$nextTick(() => {
                        this.show = true
                    })
                }

        }
    </script>
    <style scoped>
        .btn {
            float:right;
        }
        p {
            padding-top: 30px;
        }
    </style>
