<template>
    <div class="d-flex" style="display: flex">
        <square v-for="num in count" :key="num" style="margin-right: 5px"
        @click.native="clickMethod(num)">{{num}}</square>
    </div>
</template>

<script>
export default {
    props:{
        count: {type: Number, required: true}
    },
    methods: {
        clickMethod(evt){
            console.log(num);
        }
    }

}
</script>

<style scoped>

</style>
