<template>
    <div :class="class_name" :style="{width: width, height: height, backgroundColor: bgColor}">

    </div>
</template>

<script>
export default {
    props:{
        width:{type: String, default: '150x'},
        height:{type: String, default: '150px'},
        bgColor:{type: String, default: 'black'}
    },
    data(){
        return {
            class_name: 'square'
        }

    }
}
</script>

<style scoped>


</style>
