<template>
    <div>

    <h1>{{num}}</h1>
    <router-link :to="{name: 'Test'}">Test</router-link>
    </div>

</template>

<script>
    export default {
        data(){
            return {
                interval:null
            }
        },
        mounted(){
           this.interval = setInterval(() => {
                    this.$store.commit('changeNumber',this.num + 1)

            },1000)
        },
        beforeDestroy() {
            clearInterval(this.interval)
        },
        computed:{
            num(){
                return this.$store.getters.getNumber
            }
        }
    }
</script>

<style lang="scss" scoped>


</style>
