<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>project-frontend</title>
  </head>
  <body>
    <div id="app">
      {{message}}
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
