<template>
    <div>
        <b-container>
            <b-row>
                <b-col cols="4" class="mx-auto">
                    <h2 class="mt-3 text-center">Create Product</h2>
                    <b-form>
                        <b-form-group>
                            <b-form-input
                                placeholder="Name"
                                v-model="product.name"
                            />
                        </b-form-group>
                        <b-form-group>
                            <b-form-input
                                placeholder="Category"
                                v-model="product.category"
                            />
                        </b-form-group>
                        <b-form-group>
                            <b-form-input
                                placeholder="Price"
                                v-model="product.price"
                            />
                        </b-form-group>
                        <b-form-group>
                            <b-textarea
                                placeholder="Description"
                                v-model="product.description"
                            />
                        </b-form-group>
                        <b-button @click="createProduct">Save</b-button>
                    </b-form>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {
    data() {
        return {
            product: {
                name: null,
                price: null,
                category: null,
                description: null
            }
        }
    },
    methods: {
        createProduct() {
            let is_valid = true;
            Object.values(this.product).map(item => {
                if(!item || !(item.trim())) {
                    is_valid = false
                }
            })
            if(!is_valid) {
                alert('Please fill all fields');
                return
            }
            this.axios.post('/products', this.product).then(res => {
                if(res.data.success) {
                    this.$router.push({name: 'Products'})
                }
            }).catch(err => {
                console.log(err.response)
            })
        }
    }
}
</script>

<style scoped>

</style>

